<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574694842061-lhp0gbejdq21b60fkr2trdrhu92566r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574694842061-lhp0gbejdq21b60fkr2trdrhu92566r6</string>
	<key>API_KEY</key>
	<string>AIzaSyCMZAveV5XmGe8TRMGB9pAyngEEZ-I2GN0</string>
	<key>GCM_SENDER_ID</key>
	<string>574694842061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newrnhrapp</string>
	<key>PROJECT_ID</key>
	<string>newrnhrapp</string>
	<key>STORAGE_BUCKET</key>
	<string>newrnhrapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574694842061:ios:b882ee063171ae5e2a1384</string>
</dict>
</plist>